<<<<<<< HEAD
* {
  background-color: #1d2e63
}
.header {
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
}
.bodyText{
  color: white;
  font-family: 'Port Lligat Slab', serif;
}
/* =======
* {
  background-color: #990000
}
.header {
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-family: 'Cormorant SC', serif;
  font-size: 20px;
}
.bodyText{
  color: white;
  font-family: 'Port Lligat Slab', serif;
}
>>>>>>> 673e8c894ae60caee6475c8cd6a60f9b3fde517d */
