* {
  background-color: #09244B
}
.header {
  background-color: #7095CC;
  width: auto;
  height: auto;
  font-family: 'Cormorant SC', serif;
  font-size: 55px;
  /* border-style: solid;
  border-color: black; */
}
#titleText {
  border-style: solid;
  border-color: black;
}
.bodyText{
  color: white;
  font-family: 'Port Lligat Slab', serif;
}
